/**
	Create common styles in client/common/scss folder
	There should be no need to edit this file
 */

// Common component styles are injected through grunt
// injector
// endinjector

@import 'scss/common.scss';