/*
To customize the look and feel of Ionic, you can override variables in this file.
(See all the variables you can override in client/ionic/www/lib/ionic/scss/_variables.scss.)

NB: Don't include the !default flag here

For example:

$stable:                          #000000;

*/
